extends layout

block content
  div.top
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
        tbody
          tr
            td(id="plate1")
            td(id="plate2")
          tr
            td(id="plate3")
            td(id="plate4")
 
  div.footer